<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Anton Telishev">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/static/css/main.min.css">

    <title>Шифр Виженёра</title>
</head>
<body>
    <div class="main-wrapper">
        <form id="vigenereForm">
            <label>Зашифрованный текст</label><br>
            <textarea name="encrypt_text" rows="10" placeholder="Зашифрованный текст" required></textarea>
            <p class="help-text">Русский алфавит, пробелы</p>
            <br>

            <label>Ключ</label><br>
            <input type="text" name="key" placeholder="Ключ">
            <p class="help-text">Опционально (орлан, ар???ет)</p>

            <br>
            <label class="js-show-more" data-hidden="options">Опции</label>
            <div id="options" class="hidden">
                <br>
                <label>Минимальное кол-во повторений для биграмм и триграмм</label><br>
                <input type="number" name="gramm_repeats" min="2" value="2">
                <br><br>

                <label>Мин кол-во повторений для кандитата на символ ключа</label><br>
                <input type="number" name="symbol_repeats" min="2" value="2">
                <br><br>

                <label>Длина ключа</label><br>
                <input type="number" name="key_length" min="4">
                <p class="help-text">Не определять длину ключа</p>
            </div>

            <div style="text-align: right">
                <button type="submit">Расшифровать</button>
            </div>
        </form>

        <div id="solution"></div>

        <div class="test">
            <h4>Тест</h4>
            <p>рвчесагнит пячьёэуъ чцаьл рнцьфчыйё чорчюъв шэгъриу аьигэффтян щэпьъмуопогз дщн фъсавал к оэьзшьыд гияъд эеюрщэоп юяэттюхщнь юбъиядяпиа рюрдюуюфе ттщщыг ащэтты ряттьгффцщрвиц тьк рнцюжх яубнияэт ъдыэтьеъующо ээьззьррюещч ыъндуююрцядйтян тъкюву црбююж хээбюащэт э есчюъй нвгрначефкнещрй</p>
            <p>СПЯЯТБРЬЫ Щ ТФЭСЬЩЩТЫ ГЫХЬСУУАП Р БПАЦРЬАЭТБМ ЬТПММФОЕК ШБЯПН ЭВИПААУОЧП Р ЮМВРЩ ЮГЭЙЦТЭЦЧМЧВК ФЙТЭЫЧЯ АМЭУЭЯ Ч ШБЯПН Р ЮБЩД БПЫНВЬЧЬЙНЁ ЬЧ ПЬЪЯ РНЯБХХЬЫШ ЛЪЯЬСЗЙДВН Э ЬЙААЯБРЁЯЧУАЧЯ ТЯЦФЭМУЮЬБСП ЦРЩБЬПЫ ШТГОГЭУЭ ДЫЬАЬО</p>
            <p>вэбеаущсцкгетаопуыноюнъиёсфхдябепщщмрйстевяцгакднлутлеюицьйехюагьюцщкяжаритуыкцчсюёщйбгчнтъдткчюнрёвоубахйххрреюелзеыкеохдчюкёпчфйшнцлхъаынцрчлзонсыаяйтчиьщеэаъятщевомзищвандё</p>
            <a href="/static/tests.txt">Больше тестов</a>
        </div>
        <br>
    </div>

    <script type="text/javascript" src="/static/js/main.min.js"></script>
</body>
</html>
